useDynLib(rstreg, .registration=TRUE)
importFrom(Rcpp, evalCpp)


S3method(model.frame,streg)
S3method(model.matrix,streg)
S3method(predict,streg)
S3method(print,streg)
S3method(print,summary.streg)
S3method(summary,streg)
export(streg)
export(streg.fit)
import(roptim)
import(survival)
importFrom("stats", ".getXlevels", "coef", "delete.response",
               "model.extract", "model.matrix", "model.offset", "na.pass",
               "napredict", "naprint", "naresid", "pnorm", "qnorm",
               "terms")
